<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beta Tea</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #212121;">
        <div class="container">
            @Html.ActionLink("BetaTea", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Новости", "News", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("О компании", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Контакты", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item" style="margin-top:1px">
                        <div class="btn-group">
                            @Html.ActionLink("Каталог", "Index", "Catalog", new { area = "" }, new { @class = "btn ", style = "background-color: #212121; color:rgba(255,255,255,0.5)" })
                            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" style="background-color: #212121; color:rgba(255,255,255,0.5)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" style="background-color: #212121;">
                                @Html.ActionLink("Чёрный чай", "BlackTea", "Catalog", new { area = "" }, new { @class = "dropdown-item", style = "color: rgba(255,255,255,0.5)" })
                                @Html.ActionLink("Зелёный чай", "GreenTea", "Catalog", new { area = "" }, new { @class = "dropdown-item", style = "color: rgba(255,255,255,0.5)" })
                                @Html.ActionLink("Кофе", "Coffee", "Catalog", new { area = "" }, new { @class = "dropdown-item", style = "color: rgba(255,255,255,0.5)" })
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="navbar-nav">
                    <a href="@Url.Action("Index", "Cart")" class="nav-link">
                        <i class="fa fa-shopping-cart"></i>
                        <span>Корзина</span>
                    </a>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
        <hr />
        <footer class="footer mt-auto py-3">
            <div class="container">
                <span class="text-muted">&copy; @DateTime.Now.Year - ООО "Бета Запад"</span>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
