<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beta Tea</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #212121;">
        <div class="container">
            @Html.ActionLink("BetaTea", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Новости", "Index", "News", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("О компании", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Контакты", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item" style="margin-top:1px">
                        <div class="btn-group">
                            @Html.ActionLink("Каталог", "Index", "Catalog", new { area = "" }, new { @class = "btn ", style = "background-color: #212121; color:rgba(255,255,255,0.5)" })
                            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" style="background-color: #212121; color:rgba(255,255,255,0.5)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" style="background-color: #212121;">
                                @Html.ActionLink("Чай", "Index", "Catalog", new { area = "", category = "Чай" }, new { @class = "dropdown-item", style = "color: rgba(255,255,255,0.5)" })
                                @Html.ActionLink("Кофе", "Index", "Catalog", new { area = "", category= "Кофе" }, new { @class = "dropdown-item", style = "color: rgba(255,255,255,0.5)" })
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="navbar-nav">
                    <a href="@Url.Action("Index", "Cart")" class="nav-link">
                        <i class="fa fa-shopping-cart"></i>
                        <span>Корзина</span>
                    </a>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
        <br><br><br><br><br>
        <hr class="mt-5" />
        <footer class="footer">

            <br>

            <div class="container">

                <div class="row blocks">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h4>О компании</h4>
                        <div class="box">
                            <p>
                                Турецкая&nbsp;компания&nbsp;"Beta Gıda"&nbsp;известна&nbsp;на всем Ближнем Востоке своим безупречным подходом к производству и купажированию чая.&nbsp;
                            </p>
                            <p>
                                За годы работы компания смогла добиться большого авторитета в отрасли&nbsp;за счет высокого качества продукции и глубокого понимания рынка.&nbsp;&nbsp;
                            </p>
                            <p>
                                В России широко представлены торговые марки "Вeta Tea", "Champion", "Bayce", "Хezer", "Howdah Brand", "Benuta", "Caffito".
                            </p>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h4>Контакты</h4>
                        <div class="box">
                            <table class="info">
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="company-name">
                                            Отдел продаж:
                                        </td>
                                    </tr>
                                    <tr class="tr">
                                    </tr>
                                    <tr class="tr">
                                        <td class="left">
                                            Телефон:&nbsp;&nbsp;<br>
                                        </td>
                                        <td class="right">
                                            <a href="tel:"></a>+375 (29) 156-02-00
                                        </td>
                                    </tr>
                                    <tr class="tr">
                                        <td class="left">
                                            E-mail:&nbsp; &nbsp;
                                        </td>
                                        <td class="right">
                                            <a href="mailto:beta.minsk@mail.ru">information@betatea.ru</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h4>Ссылки</h4>
                        <div class="box">
                            <ul class="box-links">
                                <li><a href="/News/">Новости</a></li>
                                <li><a href="/Catalog/"> Каталог продукции</a></li>
                                <li><a href="/Contact/"> Контакты</a></li>
                                <li><a href="/About/"> О компании</a></li>
                            </ul>
                        </div>
                    </div>
                </div>



            </div>

            <div class="pb-3 pt-3" style = "background-color: #212121; color:rgba(255,255,255,0.5)">
                <div class="container wrapper-container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="copyright">
                                Copyright В© 2015 - <a style="color: rgba(255,255,255,0.5)" href="#">Группа компаний "Beta Tea"</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
