@model TeaShop_BetaTea.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Номер телефона";
}
<div class="container mt-3">

@using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3 class="text-center">Изменение номера телефона</h3>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Number, new { @class = "centered" })
        <div class="centered">
            @Html.TextBoxFor(m => m.Number, new { @class = "form-control text-center" })
        </div>
    </div>
    <div class="form-group">
        <div class="centered">
            <input type="submit" class="btn btn-outline-dark" value="Отправить" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</div>
