@model TeaShop_BetaTea.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "";
}

<div class="container mt-3">
    <h2 class="text-center">Изменение пароля</h2>
    <hr />
    <div class="centered">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group ">
            @Html.LabelFor(m => m.OldPassword, new { @class = "centered" })
            <div class="col-xs-6 col-xs-offset-3">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "centered" })
            <div class="col-xs-6 col-xs-offset-3">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "centered" })
            <div class="col-xs-6 col-xs-offset-3">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="centered">
                <input type="submit" value="Сменить пароль" class="btn btn-dark" />
        </div>
    }
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}