@model IEnumerable<TeaShop_BetaTea.Models.OrderModel>

@{
    ViewBag.Title = "OrdersHistory";
}
<div class="container text-center mt-3">
    <h2 class="mb-4">История заказов</h2>

    <table class="table table-responsive-md">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                Адрес
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @item.Street, @item.House-@item.Apartament
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice) р.
        </td>
        <td>
            @if (item.Status == "Доставлен")
            {
                <span style="color:dodgerblue">
                    @Html.DisplayFor(modelItem => item.Status, new { @class = "test" })
                </span>
            }
            @if (item.Status == "В обработке")
            {
                <span style="color:limegreen">
                    @Html.DisplayFor(modelItem => item.Status, new { @class = "test" })
                </span>

            }
            @if (item.Status == "Отменен")
            {
                <span style="color:darkgray">
                    @Html.DisplayFor(modelItem => item.Status, new { @class = "test" })
                </span>

            }
            @if (item.Status == "Отправлен")
            {
                <span style="color:hotpink">
                    @Html.DisplayFor(modelItem => item.Status, new { @class = "test" })
                </span>

            }
        </td>
    </tr>
        }

    </table>
</div>