@model IEnumerable<TeaShop_BetaTea.Models.NewsModel>

@{
    ViewBag.Title = "News";
}
<div class="container mt-3">
    <h2 class="text-center mb-3">Новости</h2>
    @using (Html.BeginForm("Index", "News", FormMethod.Get))
    {
        <div class="input-group mb-3 justify-content-end">
            <input type="text" name="searchString" class="form-control" placeholder="Поиск...">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    }
    @if (User.IsInRole("Admin"))
    {
        <div class="text-right mt-3 mb-3">
            <a href="@Url.Action("AddNews", "News")" class="btn btn-success">Добавить</a>
        </div>
    }
    <div class="row mb-2">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">@Html.DisplayFor(modelItem => item.Topic)</strong>
                        <h3 class="mb-0">@Html.DisplayFor(modelItem => item.Title)</h3>
                        <div class="mb-1 text-muted">@Html.DisplayFor(modelItem => item.Date)</div>
                        <p class="card-text mb-auto">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                        <a href="#" class="stretched-link">Подробнее...</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Delete", "News", new { id = item.NewsId})" class="close" style="outline:none; color:red;" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        }
                        <img class="bd-placeholder-img" style="min-height: 200px; min-width: 200px; max-height:200px; max-width: 200px" src="@Url.Content(item.Image)" alt="@Html.DisplayFor(modelItem => item.Title)">
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                    </div>
                </div>
            </div>
        }
    </div>
</div>