@model TeaShop_BetaTea.Models.BrandModel

@{
    ViewBag.Title = "AddBrand";
}

<div class="container mt-3">
<h2 class="text-center">Добавление бренда</h2>
    <div class="centered">
        @using (Html.BeginForm()) 
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name,"Название", htmlAttributes: new { @class = "control-label centered" })
                <div class="centered">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group centered">
                <div>
                    <input type="submit" value="Добавить" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
    <div class="centered">
        @Html.ActionLink("Вернуться к созданию...", "AddProduct")
    </div>
</div>
