@model TeaShop_BetaTea.Models.ProductViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container mt-3 text-center">
    <h2>Каталог</h2>
    @using (Html.BeginForm("Index", "Catalog", FormMethod.Get, new { id = "filter" }))
    {
        <input type="hidden" name="category" value="@ViewBag.Category" />
        <input type="hidden" name="type" value="@ViewBag.Type" />
        <div class="fixed-top mr-3" style="z-index:100">
            <div class="d-flex justify-content-end h-100">
                <div class="searchbar" style="margin-top:3.6rem">
                    <input autocomplete="off" class="search_input" name="searchString" type="text" value="@ViewBag.SearchParm" placeholder="Поиск...">
                    <a href="#" onclick="document.getElementById('filter').submit()" class="search_icon"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </div>
        <div class="row centered">
            <div class="row mt-3 ml-1 justify-content-center centered">
                <ul class="droplist">
                    <li class="drop">
                        <input type="hidden" name="category" />
                        <a href="@Url.Action("Index", "Catalog", new { category = "Чай", sortBy = ViewBag.SortParm, searchString = ViewBag.searchString  })" class="custom-btn btn-9">Чай</a>
                        <div class="dropdownContain">
                            <div class="dropOut">
                                <div class="triangle"></div>
                                <ul>
                                    <li><a style="color:#777; text-decoration:none" href="@Url.Action("Index", "Catalog", new { category = "Чай", type = "Черный чай", sortBy = ViewBag.SortParm, searchString = ViewBag.searchString })">Черный</a></li>
                                    <li><a style="color:#777; text-decoration:none" href="@Url.Action("Index", "Catalog", new { category = "Чай", type = "Зеленый чай", sortBy = ViewBag.SortParm, searchString = ViewBag.searchString  })">Зеленый</a></li>
                                    <li><a style="color:#777; text-decoration:none" href="@Url.Action("Index", "Catalog", new { category = "Чай", type = "Белый чай", sortBy = ViewBag.SortParm, searchString = ViewBag.searchString  })">Белый</a></li>
                                    <li><a style="color:#777; text-decoration:none" href="@Url.Action("Index", "Catalog", new { category = "Чай", type = "Красный чай", sortBy = ViewBag.SortParm, searchString = ViewBag.searchString  })">Красный</a></li>
                                    <li><a style="color:#777; text-decoration:none" href="@Url.Action("Index", "Catalog", new { category = "Чай", type = "Синий чай", sortBy = ViewBag.SortParm, searchString = ViewBag.searchString  })">Синий</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="droplist">
                    <li class="drop">
                        <a href="@Url.Action("Index", "Catalog", new { category = "Кофе", sortBy = ViewBag.SortParm, searchString = ViewBag.searchString  })" class="custom-btn btn-9">Кофе</a>
                        <div class="dropdownContain">
                            <div class="dropOut">
                                <div class="triangle"></div>
                                <ul>
                                    <li><a style="color:#777; text-decoration:none" href="@Url.Action("Index", "Catalog", new { category = "Кофе", type = "Молотый", sortBy = ViewBag.SortParm, searchString = ViewBag.searchString  })">Молотый</a></li>
                                    <li><a style="color:#777; text-decoration:none" href="@Url.Action("Index", "Catalog", new { category = "Кофе", type = "Растворимый", sortBy = ViewBag.SortParm, searchString = ViewBag.searchString  })">Растворимый</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row justify-content-end mb-3">
            <div class="btn-group">
                <select name="sortBy" id="sortBy" class="custom-select" aria-label="Выбор сортировки" onchange="this.form.submit();">
                    <option value="DateDsc" @("DateDsc" == ViewBag.SortParm ? "selected='selected'" : "")> Дата ↓</option>
                    <option value="DateAsc" @("DateAsc" == ViewBag.SortParm ? "selected='selected'" : "")> Дата ↑</option>
                    <option value="NameDsc" @("NameDsc" == ViewBag.SortParm ? "selected='selected'" : "")> Название ↓</option>
                    <option value="NameAsc" @("NameAsc" == ViewBag.SortParm ? "selected='selected'" : "")> Название ↑</option>
                    <option value="PriceDsc" @("PriceDsc" == ViewBag.SortParm ? "selected='selected'" : "")> Цена ↓</option>
                    <option value="PriceAsc" @("PriceAsc" == ViewBag.SortParm ? "selected='selected'" : "")> Цена ↑</option>
                </select>
            </div>
        </div>
    }
    @if (User.IsInRole("Admin"))
    {
        <div class="text-right mt-3 mb-3">
            <a href="@Url.Action("AddProduct", "Catalog")" class="btn btn-success">Добавить</a>
        </div>
    }
    <br>
    <div class="row">
        @foreach (var item in Model.Products)
        {
            <div class="col-lg-4">
                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("DeleteProduct", "Catalog", new { id = item.ProductId})" class="close" style="outline:none; color:red;" aria-label="Close" onclick="return confirm('Вы уверены?')">
                        <span aria-hidden="true">&times;</span>
                    </a>
                }
                <a href="@Url.Action("ProductDetails", "Catalog", new { id = item.ProductId })">
                    <img class="bd-placeholder-img rounded-circle" alt="@Html.DisplayFor(modelItem => item.Name)" src="@Url.Content(item.Image)" width="140" height="140" /><rect width="100%" height="100%" fill="#777"></rect>
                </a>
                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                @Html.Action("Stars", new { ProductId = item.ProductId })
                <p class="cuttedText">@Html.DisplayFor(modelItem => item.Description)</p>
                <h4>@Html.DisplayFor(modelItem => item.Price) р.</h4>
                <br>
                <div class="row justify-content-center">
                    <p><a class="btn btn-dark mr-2" href="@Url.Action("ProductDetails", "Catalog", new { id = item.ProductId })">Подробнее...</a></p>
                    <p><a class="btn btn-success ml-2" href="@Url.Action("AddToCart", "Cart", new { id = item.ProductId })">В корзину »</a></p>
                </div>
            </div>
        }
    </div>
</div>