@model IEnumerable<TeaShop_BetaTea.Models.ProductModel>

@{
    ViewBag.Title = "Index";
}

<div class="container mt-3 text-center">
    <h2>Каталог</h2>
    <br>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" alt="@Html.DisplayFor(modelItem => item.Name)" src="@Url.Content(item.Image)" width="140" height="140" /><rect width="100%" height="100%" fill="#777"></rect>

                <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                <div class="row justify-content-center">
                    <p><a class="btn btn-dark mr-2" href="@Url.Action("ProductDetails", "Catalog", new { id = item.ProductId })">Подробнее...</a></p>
                    <p><a class="btn btn-success ml-2" href="@Url.Action("AddToCart", "Cart", new { id = item.ProductId })">В корзину »</a></p>
                </div>
            </div>
        }
    </div>
</div>

