@using Microsoft.AspNet.Identity;
@model TeaShop_BetaTea.Models.ProductViewModel
@{
    ViewBag.Title = "ProductDetails";
}

<div class="container mt-3">
    <div class="card">
        <div class="container-fliud">
            <div class="row mb-3 mt-3">
                @foreach (var item in Model.Products)
                {
                    <div class="col-md-7 col-lg-6">
                        <div class="tab-content ml-3">
                            <div class="tab-pane active"><img class="img-fluid" style="max-width:360px; max-height:360px" src="@Url.Content(item.Image)" /></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <div>
                            <div class="stars">
                                @if (Model.Reviews.Any())
                                {
                                    double counter = 0;
                                    foreach (var review in Model.Reviews)
                                    {
                                        counter += review.Rate;
                                    }
                                    counter = Math.Round(counter / Model.Reviews.Count());
                                    for (int i = 0; i < 5; i++)
                                    {
                                        if (i < counter)
                                        {
                                            <span class="fa fa-star" style="color:orange"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-star"></span>
                                        }
                                    }
                                }
                                else
                                {
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                }
                            </div>
                            <span class="review-no">Отзывы: @Model.Reviews.Count()</span>
                        </div>
                        <p class="product-description">@Html.DisplayFor(modelItem => item.Description)</p>
                        <div class="row">
                            <div class="col">
                                <strong>Бренд:</strong><br>
                                @Model.Products.First().Brand.Name
                            </div>
                            <div class="col">
                                <strong>Тип:</strong><br>
                                @Model.Products.First().Type
                            </div>
                        </div>
                        @if (item.Category.Name != "Кофе")
                        {
                            <div class="row">
                                <div class="col">
                                    <strong>Размер:</strong><br>
                                    @Model.Products.First().Size
                                </div>
                                <div class="col">
                                    <strong>Цвет:</strong><br>
                                    @Model.Products.First().Color
                                </div>
                            </div>
                        }

                        <div class="row">
                            <div class="col">
                                <strong>Вес:</strong><br>
                                @(Model.Products.First().Weight)г.
                            </div>
                            <div class="col">
                                <strong>Страна:</strong><br>
                                @Model.Products.First().Country
                            </div>
                        </div>
                        <h4 class="mt-2">Цена: <span>@Html.DisplayFor(modelItem => item.Price) р.</span></h4>

                        <div class="action mt-3">
                            @using (Html.BeginForm("Like", "Catalog", FormMethod.Post))
                            {
                                <input hidden name="ProductId" id="ProductId" value="@(item.ProductId)" />
                                <a class="btn btn-success" href="@Url.Action("AddToCart", "Cart", new { id = item.ProductId })">В корзину »</a>
                                <button class="like btn btn-default" type="submit"><span class="fa fa-heart" @(Model.Like == true ? "style=color:red" : "")></span></button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (Model.Reviews.Any())
    {
        if (Model.Reviews.Where(x => x.UserId == User.Identity.GetUserId()).Any())
        {
            foreach (var item in Model.Reviews.Where(x => x.UserId == User.Identity.GetUserId()))
            {
            <div class="card-body">
                <h3 class="centered">Ваш отзыв</h3>
                <div class="row">
                    <div class="col-md-2">
                        <img src="@Url.Content(item.User.Avatar)" class="img img-fluid rounded-circle" />
                        <p class="text-secondary text-center">@Html.DisplayFor(modelItem => item.Date)</p>
                    </div>
                    <div class="col-md-10">
                        <p>
                            <strong>@item.User.UserName</strong>
                            <div class="stars float-right">
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < item.Rate)
                                    {
                                        <span class="fa fa-star" style="color:orange"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-star"></span>
                                    }
                                }
                            </div>

                        </p>
                        <div class="clearfix"></div>
                        <p>@item.Description</p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            }
        }
        <h4 class="font-weight-bold mt-5">Отзывы</h4>
        foreach (var item in Model.Reviews)
        {
<div class="card-body">
    <div style="display: flex; justify-content: flex-end">
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("DeleteReview", "Catalog", new { rvid = item.ReviewId, prid = item.ProductId})" class="close" style="outline:none; color:red; position:relative; align-items:center" aria-label="Close" onclick="return confirm('Вы уверены?')">
                <span aria-hidden="true">&times;</span>
            </a>
        }
    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content(item.User.Avatar)" class="img img-fluid rounded-circle" />
            <p class="text-secondary text-center">@Html.DisplayFor(modelItem => item.Date)</p>
        </div>
        <div class="col-md-10">
            <p>
                <strong>@item.User.UserName</strong>
                <div class="stars float-right">
                    @for (int i = 0; i < 5; i++)
                    {
                        if (i < item.Rate)
                        {
                            <span class="fa fa-star" style="color:orange"></span>
                        }
                        else
                        {
                            <span class="fa fa-star"></span>
                        }
                    }
                </div>

            </p>
            <div class="clearfix"></div>
            <p>@item.Description</p>
            <p>
            </p>
        </div>
    </div>
</div>
        }
    }
    else
    {
        <h4 class="mb-3 mt-5 text-center">Отзывы не найдены...</h4>
    }
    @if (User.Identity.IsAuthenticated && !Model.Reviews.Where(x => x.UserId == User.Identity.GetUserId()).Any())
    {
        <div class="mt-3 ml-5">
            <h4 class="font-weight-bold">Оставить отзыв</h4>
            @using (Html.BeginForm("SendReview", "Catalog", FormMethod.Post))
            {
                <input id="ProductId" name="ProductId" type="hidden" value="@Model.Products.First().ProductId" />
                <div class="form-group">
                    <label class="text-black-50 font-weight-bold">Ваша оценка</label>
                    <div class="rating">
                        <input type="radio" name="UserRate" value="5" id="5">
                        <label for="5">☆</label>
                        <input type="radio" name="UserRate" value="4" id="4">
                        <label for="4">☆</label>
                        <input type="radio" name="UserRate" value="3" id="3">
                        <label for="3">☆</label>
                        <input type="radio" name="UserRate" value="2" id="2">
                        <label for="2">☆</label>
                        <input type="radio" name="UserRate" value="1" id="1">
                        <label for="1">☆</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="UserName"><h6>Имя</h6></label>
                    <input type="text" id="UserName" name="UserName" class="form-control" value="@System.Web.HttpContext.Current.User.Identity.Name">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="ReviewDescription" name="ReviewDescription" rows="10" placeholder="Ваш отзыв..."></textarea>
                </div>
                <button type="submit" class="btn btn-dark">Отправить</button>
            }
        </div>
    }
</div>

